.movies {
  position: relative;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
}

.header__movies {
  width: 1280px;
  height: 74px;
  display: flex;
}

.movies__logo {
  margin: 18px 0 0 70px;
}

.movies__block_button {
  width: 1280px;
  height: 166px;
}

.movies__buton_content {
  width: 1140px;
  height: 36px;
  margin: 50px 70px 80px;
  border: none;
  border-radius: 6px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .header__movies {
    width: 768px;
    height: 74px;
    display: flex;
  }

  .movies__logo {
    margin: 15px 0 0 30px;
  }

  .movies__block_button {
    width: 768px;
    height: 166px;
  }

  .movies__buton_content {
    width: 708px;
    height: 36px;
    margin: 50px 30px 80px;
  }
}

@media screen and (max-width: 320px) {
  .header__movies {
    width: 320px;
    height: 74px;
    display: flex;
  }

  .movies__logo {
    margin: 15px 0 0 14px;
  }

  .movies__block_button {
    width: 320px;
    height: 166px;
  }

  .movies__buton_content {
    width: 300px;
    height: 36px;
    margin: 50px 10px 80px;
  }
}