.portfolio {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.portfolio__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  margin-top: 100px;
}

.portfolio__list_links {
  margin-top: 50px;
  padding: 0;
}

.portfolio__link {
  text-decoration: none;
  list-style-type: none;
}

.portfolio__link_project {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.portfolio__link_project:hover {
  opacity: 0.5;
}

.portfolio__text {
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -4%;
  color: #000000;
  margin: 0;
}

.portfolio__link_go {
  width: 29px;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -4%;
  color: #000000;
}

.portfolio__block_line {
  width: 1140px;
  padding-top: 19px;
  border-bottom: 1px solid #e8e8e8;
}

@media screen and (max-width: 768px) {
  .portfolio__title {
    margin-top: 90px;
    margin-bottom: 0;
  }

  .portfolio__list_links {
    margin-top: 50px;
    padding: 0;
    margin-bottom: 90px;
  }

  .portfolio__text {
    font-size: 28px;
  }

  .portfolio__link_go {
    width: 27px;
    font-size: 28px;
  }

  .portfolio__block_line {
    width: 668px;
  }
}

@media screen and (max-width: 320px) {

  .portfolio__title {
    font-size: 14px;
    margin-top: 70px;
  }

  .portfolio__list_links {
    margin-top: 40px;
    padding: 0;
    margin-bottom: 70px;
  }

  .portfolio__link{
    width: 292px;
  }

  .portfolio__link_project{
    height: 28px;
  }

  .portfolio__text{
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__link_go{
    width: 18px;
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__block_line{
    width: 292px;
  }
}
