.saved__movies {
  position: relative;
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
}

.saved__movies_header {
  width: 1280px;
  height: 74px;
  display: flex;
}

.saved__movies_logo {
  margin: 18px 0 0 70px;
}

.saved__movies_block {
  width: 1280;
  height: 140px;
}

@media screen and (max-width: 768px) {
  .saved__movies_header {
    width: 768px;
  }

  .saved__movies_logo {
    margin: 18px 0 0 30px;
  }

  .saved__movies_block {
    width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .saved__movies_header {
    width: 320px;
  }

  .saved__movies_logo {
    margin: 18px 0 0 14px;
  }

  .saved__movies_block {
    width: 320px;
  }
}