.techs {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #f5f5f5;
}

.techs__title {
  padding-top: 100px;
  padding-left: 70px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 4%;
  margin: 0;
}

.techs__title_line {
  width: 1140px;
  margin: 23px auto 0;
  border-bottom: 1px solid #000000;
}

.techs__container {
  margin-top: 90px;
}

.techs__description {
  margin-top: 0;
  margin-bottom: 26px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: 4%;
  color: #000000;
  text-align: center;
}

.techs__text {
  margin: 0 auto 100px;
  width: 460px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 4%;
}

.techs__list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 0;
  margin-bottom: 100px;
}

.techs__icon {
  width: 100%;
  max-width: 90px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -4%;
  background-color: #e8e8e8;
  color: #000000;
  border-radius: 10px;
  padding-top: 21px;
  padding-bottom: 22px;
  margin-right: 10px;
}

.techs__icon:last-child {
  margin-right: 0;
}

@media screen and (max-width: 900px) {
  .techs__title_line{
    width: 780px;
  }
}

@media screen and (max-width: 768px) {
  .techs__title {
    padding-top: 90px;
  }

  .techs__title_line {
    width: 668px;
    margin-left: 50px;
  }

  .techs__container {
    margin-top: 80px;
  }

  .techs__description {
    margin-bottom: 22px;
  }

  .techs__text {
    margin: 0 auto 83px;
    font-size: 12px;
    line-height: 18px;
  }

  .techs__list {
    margin-bottom: 90px;
    padding: 0 60px;
  }

  .techs__icon {
    width: 100%;
    max-width: 84px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 10px;
    padding-bottom: 21px;
  }
}

@media screen and (max-width: 560px) {
  .techs__title_line{
    width: 460px;
  }
}

@media screen and (max-width: 400px) {
  .techs__title_line{
    width: 300px;
  }
  .techs__text{
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .techs__title {
    padding-top: 70px;
    padding-left: 18px;
    font-size: 18px;
    line-height: 22px;
  }

  .techs__title_line {
    width: 284px;
    margin-left: 18px;
  }

  .techs__container {
    margin-top: 60px;
  }

  .techs__description {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__text {
    margin: 0 auto 50px;
    font-size: 11px;
    line-height: 16px;
    width: 292px;
  }

  .techs__list {
    display: grid;
    margin-bottom: 70px;
    padding: 0 71px;
    grid-template-columns: repeat(2, 84px);
  gap: 10px 10px;
  }
}