.checkbox-block {
  height: 20px;
  margin: 26px 0 43px;
  padding: 0;
  display: flex;
  align-items: center;
}

.checkbox-block__slider {
  border-radius: 16px;
  width: 36px;
  height: 20px;
  margin-right: 14px;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  transition: 0.3s;
  position: relative;
  -webkit-appearance: inherit;
  outline: none;
  cursor: pointer;
}

.checkbox-block__slider_active {
  background-color: #ffffff;
}

.checkbox-block__slider:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: #2be080;
  border-radius: 16px;
  transition: 0.3s;
}

.checkbox-block__slider_active:before {
  left: 18px;
}

.checkbox-block__filter {
  margin: 0;
  padding: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .checkbox-block {
    margin: 26px 0 51px;
  }
}

@media screen and (max-width: 320px) {
  .checkbox-block {
    margin: 30px 0 63px;
  }

  .checkbox-block__filter {
    font-size: 11px;
  }
}