.burger-menu__button {
  background: url(../../images/icon-burger-click.svg);
  border: none;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  position: relative;
  margin: 15px 0 15px auto;
  display: none;
  align-items: center;
  cursor: pointer;
}

.burger-menu__button-hidden {
  display: none;
}

@media screen and (max-width: 768px) {
  .burger-menu__button {
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .burger-menu__button {
    width: 40px;
    height: 43px;
    margin: 15px 0 15px auto;
  }
}

.burger-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 4;
}

.burger-menu__active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.burger-menu__container {
  background: #ffffff;
  width: 73%;
  height: 100%;
  position: relative;
  z-index: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in;
}

.burger-menu__container-active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.burger-menu__icon-close {
  background-image: url(../../images/icon_close.svg);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: relative;
  margin: 22px 22px 0 auto;
  cursor: pointer;
  display: none;
}

.burger-menu__items {
  width: 340px;
  list-style: none;
  text-decoration: none;
  flex-direction: column;
  margin: 112px auto 621px;
  display: flex;
  align-items: center;
  padding: 0;
}

.burger-menu__item {
  text-decoration: none;
  color: #000000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 28px;
}

.burger-menu__item_active{
  padding-bottom: 4px;
  border-bottom: 2px solid #000000;
}

.burger-menu__acaunt {
  width: 100px;
  height: 30px;
  margin: 0 auto 92px;
  gap: 13px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  align-items: center;
}

.burger-menu__link-acaunt {
  width: 57px;
}

.burger-menu__acaunt-text {
  text-decoration: none;
  list-style: none;
  color: #000000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.burger-menu__acaunt-icon {
  max-width: 30px;
  background: #f9f9f9;
  border-radius: 6px;
  padding: 8px;
}

.burger-menu__icon {
  justify-items: center;
  background-image: url(../../images/myicon.svg);
  background-repeat: no-repeat;
  height: 11px;
  position: relative;
  width: 12px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .burger-menu {
    display: flex;
  }

  .burger-menu__icon-close {
    display: flex;
  }
}

@media screen and (max-width: 320px) {
  .burger-menu__container {
    width: 100%;
  }

  .burger-menu__items {
    width: 300px;
    margin: 144px auto 444px;
  }

  .burger-menu__item {
    margin-bottom: 24px;
  }

  .burger-menu__item_active{
    padding-bottom: 7px;
  }

  .burger-menu__acaunt {
    margin: 0 auto 48px;
    gap: 13px;
  }
}
