.header__navigation_profile {
  width: 1172px;
  display: flex;
}

.navbar__profile {
  display: flex;
  margin: 21px 70px 23px auto;
  padding: 0;
  list-style: none;
  align-items: center;
  gap: 13px;
}

.navbar__links_profile-movie {
  display: flex;
  padding: 0;
  margin: 28px auto 28px 44px;
  gap: 16px;
  list-style: none;
}

.navbar__link-movie {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.navbar__link-movies {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.navbar__profile_acaunt {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 21px 70px 23px 0;
  gap: 13px;
}

.navbar__link_acaunt {
  width: 57px;
  margin: 7px 0;
}

.navbar__link_acaunt-text {
  text-decoration: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.navbar__link_acaunt-icon {
  width: 30px;
  background: #f9f9f9;
  border-radius: 6px;
}

.navbar__icon {
  justify-items: center;
  background-image: url(../../images/icon.png);
  background-repeat: no-repeat;
  height: 30px;
  position: relative;
  top: 9px;
  left: 9px;
}

@media screen and (max-width: 768px) {
  .header__navigation_profile {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .header__navigation_profile {
    display: none;
  }
}