.movies__card {
  list-style: none;
  border-radius: 6px;
  width: 100%;
  max-width: 360px;
  min-width: 300px;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.movies__card_poster {
  display: block;
  width: 100%;
  max-width: 360px;
  height: 201px;
  object-fit: cover;
  border-radius: 6px;
}

.movies__card_save {
  background-image: none;
  background-color: transparent;
  width: 72px;
  height: 21px;
  padding: 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  top: 14px;
  right: 14px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.movies__card_save:hover {
  background-image: url(../../../images/icon.svg);
}

.movies__card_save-active {
  background-image: url(../../../images/icon-activ.svg);
  min-width: 21px;
  height: 21px;
  padding: 0;
  border: none;
  background-position: 51px;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
 
}

.movies__card_delete {
  background-image: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  border: none;
  padding: 0;
  min-width: 21px;
  height: 21px;
  margin: 0;
  cursor: pointer;
  position: absolute;
  top: 14px;
  right: 14px;
}

.movies__card_delete:hover {
  background-image: url(../../../images/icon-delete.svg);
}

.movies__card_description {
  display: flex;
  justify-content: space-between;
  margin: 14px 14px 0;
  align-items: center;
}

.movies__card_title-block {
  display: flex;
  flex-flow: column;
  width: 250px;
}

.movies__card_title {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.movies__card_duration-block {
  min-width: 52px;
  height: 18px;
  background-color: #f9f9f9;
  text-align: center;
  border-radius: 3px;
}

.movies__card_duration {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  line-height: 10px;
  color: #a0a0a0;
  padding: 3px 4px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .movies__card_description {
    margin: 25px 0 0;
  }
}

@media screen and (max-width: 320px){

  .movies__card_icon {
    top: 10px;
    right: 10px;
  }

  .movies__card_save-active {
    top: 10px;
    right: 10px;
  }

  .movies__card_delete {
    top: 10px;
    right: 10px;
  }

  .movies__card_poster {
    width: 300px;
    height: 168px;
  }

  .movies__card_description {
    width: 300px;
    height: 15px;
    margin: 16px 0 0;
  }

  .movies__card_title-block {
    width: 240px;
  }

  .movies__card_title {
    font-size: 12px;
    line-height: 15px;
  }

  .movies__card_duration-block {
    margin: 0;
  }

  .movies__card_duration {
    margin: 3px 0 0;
  }
}