.movies__card {
  display: grid;
  border-radius: 6px;
}

.movies__card_block {
  width: 360px;
  height: 201px;
  display: flex;
  border-radius: 0px;
  cursor: pointer;
}

.movies__card_icon {
  background-color: transparent;
  display: flex;
  position: absolute;
  min-width: 72px;
  height: 21px;
  padding: 0;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin: 14px 14px 166px 274px;
}

.movies__card_save {
  background-image: none;
}

.movies__card_save:hover {
  background-image: url(../../../images/save-button.png);
}

.movies__card_save-active {
  background-image: url(../../../images/save-ok.png);
  min-width: 21px;
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 14px 325px 166px;
}

.movies__card_delete {
  background-image: none;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  min-width: 21px;
  height: 21px;
  position: absolute;
  margin: 14px 14px 166px 325px;
  cursor: pointer;
}

.movies__card_delete:hover {
  background-image: url(../../../images/delete.png);
}

.movies__card_poster {
  width: 360px;
  height: 201px;
  object-fit: cover;
}

.movies__card_description {
  width: 332px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  margin: 14px 14px 0;
  align-items: center;
}

.movies__card_title-block {
  display: flex;
  flex-flow: column;
  width: 250px;
}

.movies__card_title {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.movies__card_duration-block {
  width: 52px;
  height: 18px;
  background-color: #f9f9f9;
  text-align: center;
  margin: 0 4px 0 0;
  border-radius: 3px;
}

.movies__card_duration {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  line-height: 10px;
  color: #a0a0a0;
  margin: 4px 4px 0;
}

@media screen and (max-width: 768px) {
  .movies__card_block {
    width: 339px;
    height: 190px;
  }

  .movies__card_icon {
    margin: 14px 14px 155px 253px;
  }

  .movies__card_save-active {
    margin: 14px 14px 155px 304px;
  }

  .movies__card_delete {
    margin: 14px 14px 155px 304px;
  }

  .movies__card_poster {
    width: 339px;
    height: 190px;
  }
}

@media screen and (max-width: 320px) {
  .movies__card_block {
    width: 300px;
    height: 168px;
    margin: 0 auto;
  }

  .movies__card_icon {
    margin: 10px 10px 137px 218px;
  }

  .movies__card_save-active {
    margin: 10px 10px 137px 269px;
  }

  .movies__card_delete {
    margin: 10px 10px 137px 269px;
  }

  .movies__card_poster {
    width: 300px;
    height: 168px;
  }

  .movies__card_description {
    width: 300px;
    height: 15px;
    margin: 16px 10px 0;
  }

  .movies__card_title-block {
    width: 240px;
  }

  .movies__card_title {
    font-size: 12px;
    line-height: 15px;
  }

  .movies__card_duration-block {
    margin: 0;
  }

  .movies__card_duration {
    margin: 3px 4px 0;
  }
}