.auth {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.auth__container {
  width: 100%;
  max-width: 396px;
  margin: 0 auto;
}

.auth__logo {
  width: 38px;
  height: 38px;
  margin: 70px 0 40px;
}

.auth__title {
  margin: 0;
  padding-bottom: 40px;
  width: 100%;
  text-align: left;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 29.05px;
  color: #000000;
}

.auth__form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.auth__placeholder {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 12.1px;
  color: #a0a0a0;
}

.auth__field {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}

.auth__input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  padding: 15px;
  background: #f9f9f9;
  color: #000000;
  border: none;
  border-radius: 8px;
}

.auth__input_password {
  color: #ff4062;
}

.auth__error {
  width: 100%;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  color: #ff4062;
}

.auth__button {
  width: 100%;
  height: 45px;
  margin: 69px auto 16px;
  background: #000000;
  border-radius: 3px;
  color: #ffffff;
  padding: 0;
  border: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.auth__register {
  display: flex;
  height: 17px;
  gap: 6px;
  margin: 0 auto 70px;
  justify-content: center;
}

.auth__text_register {
  width: 169px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  text-align: center;
  margin: 0;
  color: #a0a0a0;
}

.auth__login {
  width: 42px;
  height: 17px;
  text-decoration: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 0;
  margin: 0 0 70px;
  color: #000000;
}

@media screen and (max-width: 768px) {

  .auth__logo {
    margin: 232px 0 40px;
  }

  .auth__register {
    margin: 0 auto 232px;
  }

  .auth__text_register {
    width: 169px;
  }
}

@media screen and (max-width: 320px) {
  .auth__container {
    max-width: 260px;
    margin: 0 auto;
  }

  .auth__logo {
    margin: 56px 111px 50px;
  }

  .auth__title {
    width: 260px;
    padding-bottom: 80px;
    text-align: center;
  }

  .auth__field {
    width: 260px;
  }

  .auth__button {
    width: 260px;
    margin: 157px auto 14px;
  }

  .auth__register {
    margin: 0 auto 30px;
    font-size: 12px;
    line-height: 15px;
  }

  .auth__text_register {
    width: 145px;
    height: 15px;
    margin: 0;
    font-size: 12px;
    line-height: 15px;
  }

  .auth__login {
    width: 36px;
    font-size: 12px;
    line-height: 15px;
    height: 15px;
    margin: 0;
  }
}