.footer {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.footer__project {
  padding-top: 79px;
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
}

.footer__line {
  width: 1140px;
  padding-top: 20px;
  margin-left: 70px;
  border-bottom: 1px solid #e8e8e8;
}

.footer__container {
  padding-top: 20px;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}

.footer__copyright {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 70px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a0;
}

.footer__links {
  display: flex;
  width: 182px;
  justify-content: space-between;
  margin: 0;
  padding-right: 70px;
  list-style-type: none;
}

.footer__link_go {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.footer__link_go:hover {
  opacity: 0.5;
}

@media  screen and (max-width: 900px) {
  .footer__line{
    width: 780px;
  }
}

@media screen and (max-width: 768px) {
  .footer__line {
    width: 668px;
    margin-left: 50px;
  }

  .footer__copyright {
    padding-left: 50px;
  }

  .footer__links {
    padding-right: 50px;
  }
}

@media screen and (max-width: 560px) {
.footer__line{
  width: 460px;
}
}

@media screen and (max-width: 400px) {
  .footer__line{
    width: 300px;
  }
}

@media screen and (max-width: 320px) {
  .footer__project {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__line {
    width: 300px;
    padding-top: 21px;
    margin-left: 10px;
  }

  .footer__container {
    padding-top: 30px;
    height: 107px;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-bottom: 20px;
  }

  .footer__links {
    display: flex;
    width: 111px;
    flex-direction: column;
    margin: 0 auto;
    padding-right: 0;
    list-style-type: none;
    row-gap: 12px;
    padding: 0;
    align-items: center;
  }

  .footer__link_go {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright {
    padding-left: 0;
    font-size: 12px;
    line-height: 15px;
    margin-top: 102px;
    position: absolute;
  }
}