.search {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.search__form {
  display: flex;
  height: 72px;
  border: 1.5px solid #aaaaaa;
  border-radius: 8px;
  margin: 70px 70px 0;
}

.search__form:hover {
  opacity: 0.2;
}
.search__form_block-input {
  margin: 25px auto 25px 25px;
  border: none;
}
.search__form_input {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #a0a0a0;
  border: none;
}

.search__button {
  margin: 10px 10px 10px 0;
  background: #000000;
  color: #ffffff;
  padding: 0;
  width: 100px;
  height: 52px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.search__line {
  width: 1140px;
  margin: 42px 70px 10px;
  border-bottom: 1px solid #aaaaaa;
}

@media screen and (max-width: 768px) {
  .search__form {
    margin: 70px 30px 0;
  }

  .search__line {
    width: 708px;
    margin: 0 30px 10px;
  }
}

@media screen and (max-width: 320px) {
  .search__form {
    height: 56px;
    margin: 70px 14px 0;
  }

  .search__form_block-input {
    margin: 20px auto 20px 12px;
    border: none;
    width: 53px;
  }
  .search__form_input {
    width: 54px;
    font-size: 16px;
    line-height: 16px;
  }

  .search__button {
    margin: 6px 6px 6px 0;
    width: 80px;
    height: 44px;
  }

  .search__line {
    width: 292px;
    margin: 0 14px 10px;
  }
}