.about__me {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}

.about__me_container {
  padding: 0 70px;
}

.about__me_title {
  margin-top: 110px;
  margin-bottom: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -4%;
}

.about__me_line {
  width: 1140px;
  padding-top: 23px;
  border-bottom: 1px solid #000000;
}

.about__me_block {
  display: flex;
  justify-content: space-between;
}

.about__me_block-student{
  display: flex;
  flex-direction: column;
  position: absolute;
}

.about__me_name {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -4%;
  margin: 66px 0 18px;
}

.about__me_about {
  margin: 0 0 26px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
}

.about__me_info {
  width: 600px;
  margin: 0 0 99px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
}

.about__me_link {
  width: 46px;
  text-decoration: none;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.about__me_photo {
  width: 100%;
  margin: 66px 0 0 870px;
  max-width: 270px;
  height: 327px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .about__me_title {
    margin-top: 90px;
  }

  .about__me_line {
    width: 668px;
  }

  .about__me_container {
    padding: 0 50px;
  }


  .about__me_name {
    font-size: 40px;
    line-height: 40px;
  }

  .about__me_about {
    margin: 16px 0 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .about__me_info {
    width: 364px;
    margin: 0 0 87px;
    font-size: 12px;
    line-height: 18px;
  }

  .about__me_photo {
    width: 100%;
    max-width: 255px;
    height: 307px;
    margin: 66px 0 0 413px;
  }
}

@media screen and (max-width: 320px) {
  .about__me_title {
    margin-top: 70px;
    font-size: 18px;
    line-height: 22px;
  }

  .about__me_line {
    width: 292px;
  }

  .about__me_container {
    padding: 0 14px;
    height: 1198px;
  }

.about__me_block{
  display: flex;
  flex-direction: column;
  height: 654px;
  
}

.about__me_block-student{
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 452px;
}

  .about__me_name {
    font-size: 30px;
    line-height: 36px;
    margin: 40px 0 0;
  }

  .about__me_about {
    margin: 20px 0;
    font-size: 11px;
    line-height: 16px;
  }

  .about__me_info {
    width: 292px;
    margin: 0 0 40px;
    font-size: 11px;
    line-height: 16px;
  }

  .about__me_photo {
    width: 100%;
    max-width: 292px;
    height: 352px;
    margin: 60px 0 0;
  }
}